<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>file test</title>
</head>
<body>
<form action="http://81.70.11.36/api/v1/article/uploadArt" method="post" enctype="multipart/form-data">
    <input type="file" name="article">
    <input type="submit" value="提交文档">
</form>
<form action="http://81.70.11.36/api/v1/article/upgradeArt" method="post" enctype="multipart/form-data">
    <input type="file" name="article">
    <input type="submit" value="更新文档">
</form>
<form action="http://81.70.11.36/api/v1/article/downloadArt" method="post" enctype="multipart/form-data">
    <label>
        <input type="text" name="name">
    </label>
    <input type="submit" value="下载文档">
</form>
<form action="http://81.70.11.36/api/v1/posts/uploadImg" method="post" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/*">
    <input type="submit" value="上传图片">
</form>

</body>
</html>